node_modules
.next
out
dist
build
.turbo

# env
.env
.env.local
.env.*.local

# db
*.db
*.db-journal
prisma/dev.db*

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
.tsbuildinfo
next-env.d.ts
coverage
tsconfig.tsbuildinfo
